<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"-->
<!--            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" defer></script>-->

</head>
<body>
<div class="container">
    <div class="row m-3"></div>
    <div class="row justify-content-center mb-2">
        <div class="col-lg-6"><h4>Photo Search:</h4></div>
    </div>
    <div class="row justify-content-center mb-4">
        <form class="col-lg-6" th:action="@{/}" th:object="${searchKeyword}" method="post">
            <div class="input-group">
                <span class="input-group-text">Keywords:</span>
                <input type="text" class="form-control" th:field="*{text}" th:value="${searchText}">
                <button class="btn btn-info" type="submit">Search!</button>
            </div>
        </form>
    </div>
    <div class="row justify-content-center" data-masonry='{"percentPosition": true, "itemSelector": ".col-6"}'>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2 d-flex justify-content-center" th:each="photo : ${photos}">
            <img class="rounded img-fluid" th:src="${photo.urls.thumb}" th:alt="${photo.description}">
        </div>
    </div>
</div>
</body>
</html>